[Unit]
Description=Dzgaboard dashboard

[Service]
Environment=VIRTUAL_ENV=/home/__USER__/dzgaboard/env
ExecStart=/home/__USER__/dzgaboard/env/bin/python /home/__USER__/dzgaboard/server.py -d
WorkingDirectory=/home/pi/dzgaboard/
User=__USER__
Restart=on-failure

[Install]
WantedBy=multi-user.target
