.pluginItem {
    horiz-align: left;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}
.installBtn {
    float: right;
    background-color: green;
    color: white;
    width: 100px;
}

.updateBtn {
    float: right;
    background-color: blue;
    color: white;
    width: 100px;

}
.removeBtn {
    float: right;
    background-color: red;
    color: white;
    width: 100px;
}
.pluginItem span:hover {
   color: purple;
}