<div class="row">
  <div class="card">
    <div class="card-header card-header-warning">
      <ul class="nav panel_toolbox">
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <h4>Bar charts</h4>
      <div class="clearfix"></div>
    </div>
    <div class="card-body">
      <div id="morris-bar-chart-{{count}}" style="height: 200px;"></div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">



$(document).ready(function() {
  var barChartElements=[];
  var barChartElementsNames=[];

  {% for k, v in blockArray[count]["bar_charts"].items() %}
  barChartElements.push("{{v[1]}}");
  barChartElementsNames.push("{{k}}");
  {% endfor %}
  var bar_chart_block_{{count}} = Morris.Bar({
    element: 'morris-bar-chart-{{count}}',
    data: [],
    xkey: 'l',
    ykeys: ['a'],
    labels: ['y'],
    smooth: true,
    resize: true
  });

  redrawBarChart(barChartElements, bar_chart_block_{{count}}, barChartElementsNames);
  setInterval(redrawBarChart,9000,barChartElements,bar_chart_block_{{count}}, barChartElementsNames);
});
</script>
