 <div class="row">
  <div class="card">
    <div id="title_block_{{count}}" class="card-header card-header-info">
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
      </ul>
      <h2>Line Graph</h2>
    </div>
    <div class="card-body">
      <div id="domoticz-chart-block-{{count}}" style="height: 200px;"></div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
  {% for k, v in blockArray[count]["domoticz_counter_charts"].items() %}
  ShowGeneralGraph("domoticz-chart-block-{{count}}",{{v[1]}},"{{k}}", 1, "{{v[3]}}", "{{v[2]}}");
  $("div#title_block_{{count}} h2").html("{{k}}");
  setInterval(ShowGeneralGraph,60000,"domoticz-chart-block-{{count}}",{{v[1]}},"{{k}}", 1, "{{v[3]}}", "{{v[2]}}");
{% endfor %}
});
</script>
