{% include 'header_login.html' %}
<style>
.center {
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
</style>
<div class="container container-table">
  <div class="row vertical-center-row">
    <div class="center">
    <div class="text-center"><h1 class="logo purple">Welcome back {{loggedout}}. You are now logged out.</h1></div>
    </div>
  </div>
</div>
<script>
setTimeout(function(){
  window.location='/';
}, 3000);
</script>
{% include 'footer_login.html' %}
