<div class="col-lg-6 col-md-12">
  <div class="card">
    <div class="card-header card-header-primary">
      <ul class="nav panel_toolbox">
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <h4>Power usage</h4>
    </div>
    <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary">
          <tr>
            <th>Component</th>
            <th>Consumption</th>

          </tr>
        </thead>
        <tbody>
          {% for k, v in blockArray[count]["power_usage"].items() %}
          <tr>
            <td>{{k}}</td>
            <td id="power_usage_{{v[1]}}_{{count}}">{{v[2]}}</td>
          </tr>
          {% endfor %}
          <tr>
            <td> <b>Total</b></td>
            <td id="power_usage_total_{{count}}"> <b>{{blockArray[count]["power_usage_calc_total"]}} kWh</b></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  var updatePowerUsage_{{count}}=[];
  {% for k, v in blockArray[count]["power_usage"].items() %}
  updatePowerUsage_{{count}}.push("{{v[1]}}");
  {% endfor %}
  refreshPowerUsage(updatePowerUsage_{{count}}, "{{count}}");
  setInterval(refreshPowerUsage, 9000, updatePowerUsage_{{count}}, "{{count}}");
});
</script>
